<div class="share-bloc">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <p>Passe le mot sur tes réseaux préférés :</p>
      <i><h4>"Je fais des économies d'énergie et je réduis mes factures avec @<%= data.parameters.project_name %>. Rejoignez-moi !"</h4></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <div class="share-links">
        <a href="https://www.facebook.com/sharer.php?u=<%= data.parameters.share_link %>" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/intent/tweet?url=<%= data.parameters.share_link %>&text=Je+fais+des+économies+d'énergie+et+je+réduis+mes+factures+avec+%40agiret.+Rejoignez-moi+%21&hashtags=moinsmaismieux,energie" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= data.parameters.share_link %>&summary=Je+fais+des+économies+d'énergie+et+je+réduis+mes+factures+avec+%40agiret.+Rejoignez-moi+%21&source=<%= data.parameters.project_name %>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div>
        <!-- <i class="fab fa-whatsapp"></i> -->
    </div>
  </div>
</div>

<!-- https://www.linkedin.com/shareArticle?mini=true&url=<%= data.parameters.share_link %>&summary=Je+fais+des+économies+d'énergie+et+je+réduis+mes+factures+avec+%40agiret.+Rejoignez-moi+%21&source=ecojuju -->
