<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127457528-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127457528-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <!-- Google result text -->
    <title><%= data.parameters.project_name.capitalize %> | Meilleur assistant aux économies d'énergie</title>
    <!-- Google result description -->
    <meta name="description" content="<%= data.parameters.project_name.capitalize %> est une plateforme gratuite qui utilise les données et l'intelligence artificielle afin de fournir des conseils ultra personnalisés pour réduire tes factures et améliorer ton confort.">

    <!-- For Facebook -->
    <meta property="og:title" content="<%= data.parameters.project_name.capitalize %> - Le meilleur assistant aux économies d'énergie">
    <meta property="og:image" content="<%= image_path 'facebook-card-2212.jpg' %>">
    <meta property="og:image:width" content="1200" >
    <meta property="og:image:height" content="630" >
    <meta property="og:url" content="<%= data.parameters.root_path_prod %>">
    <meta property="og:description" content="<%= data.parameters.project_name.capitalize %> est une plateforme gratuite qui utilise les données et l'intelligence artificielle afin de fournir des conseils ultra personnalisés pour réduire tes factures et améliorer ton confort.">
    <meta property="og:site_name" content="<%= data.parameters.project_name.capitalize %>"/>

    <!-- For Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= data.parameters.twitter %>">
    <meta name="twitter:title" content="<%= data.parameters.project_name.capitalize %> - Assistant aux économies d'énergie">
    <meta name="twitter:description" content="Plateforme gratuite qui utilise les données et l'IA afin de fournir des conseils ultra personnalisés pour réduire tes factures et améliorer ton confort.">
    <meta name="twitter:creator" content="<%= data.parameters.twitter %>">
    <meta name="twitter:image:src" content="<%= image_path 'twitter-card-2212.jpg' %>">

    <!-- Hotjar Tracking Code for https://www.kooleko.com -->
<!--     <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1060236,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script> -->

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
    <%= hotjar_tag %>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1035372009970076');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1035372009970076&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->


  </head>
  <body>
    <%= partial "layouts/navbar" %>
    <%= yield %>
    <%= partial "layouts/footer" %>   <!-- inject layouts/_footer.html.erb -->

    <!-- Images charged and display=none : it's for middleman build... -->
    <%= image_tag "facebook-card-2212.jpg", class: "img-hiden" %>
    <%= image_tag "twitter-card-2212.jpg", class: "img-hiden" %>
  </body>
</html>
